<a href="https://colab.research.google.com/github/sumanakunder/Pythonnbasics/blob/main/Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello, World!")    #Hello word printing

Hello, World!

In [2]:
print ("my name is sumana")

my name is sumana

In [3]:
name = "Sumana"    #Variables
age = 25
height = 5.4

print(name)
print(age)
print(height)

Sumana
25
5.4

In [5]:
name = "j"                            #Variables
age = 2
height = 5.4

print(name)
print(age)
print(height)

j
2
5.4

In [7]:
course = "Python"

In [8]:
a = 10                 #Basic Operations
b = 3

print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division
print(a % b)   # Remainder

13
7
30
3.3333333333333335
1

In [9]:
name = input("Enter your name: ")                     #Taking User Input
print("Hello", name)

Enter your name: sumana
Hello sumana

In [10]:
age = int(input("Enter your age: "))                 #Input is always a string, so for numbers:
print(age + 1)

Enter your age: 27
28

In [13]:
a=2                                                 #sum
b=2
sum=a+b
print(sum)

4

In [24]:
a=-2                                                     #if and elif ,else
if a<0:
  print("positive")
elif a>1:
  print("error")
else:
  print("negative")

positive

In [27]:
a=-2                                         # more than 2 if is nested
if a<0:
  print("positive")
if a<0:
  print("positive")
elif a>1:
  print("error")
else:
  print("negative")

positive
positive

In [26]:
for e in range(5):                            #for
  print("hello")

hello
hello
hello
hello
hello

In [28]:
i = 1                                   #while
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

In [29]:
for i in range(5):                                              #continue
    if i % 2 == 0:
        print(f"Skipping even number: {i}")
        continue  # Skip the rest of the code in this iteration
    print(f"Processing odd number: {i}")

print("Loop finished.")

Skipping even number: 0
Processing odd number: 1
Skipping even number: 2
Processing odd number: 3
Skipping even number: 4
Loop finished.

In [30]:
for i in range(5):                              #break
    if i==3:
        break
    print(i)

0
1
2

In [42]:
subjects = ["Math", "AI", "Python"]                   #list

print(subjects)
print(subjects[0])
print(subjects[0:1])
subjects.append("Data Science")
print(subjects)
subjects.insert(1, 'ML')
print(subjects)

['Math', 'AI', 'Python']
Math
['Math']
['Math', 'AI', 'Python', 'Data Science']
['Math', 'ML', 'AI', 'Python', 'Data Science']

In [49]:
text = "Python"               #string slicing
print(text[0:4])   # Pyth
print(text[2:])    # thon
print(text[:3])    # Pyt

Pyth
thon
Pyt

In [51]:
text = "datascience"            #string indexing
print(text[0])
print(text[-2])

d
c

In [52]:
msg = " hello python "             # String Methods

print(msg.upper())
print(msg.lower())
print(msg.strip())
print(msg.replace("python", "AI"))
print(msg.split())

 HELLO PYTHON
 hello python
hello python
 hello AI
['hello', 'python']

In [53]:
a = "10"                           # Type Conversion
b = int(a)

print(b + 5)

15

In [54]:
int()
float()
str()

''

In [55]:
for i in range(1, 4):
    for j in range(1, 4):
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [56]:
for i in range(1, 6):                            # simple pattern program
    print("*" * i)

*
**
***
****
*****

In [62]:
for i in range(1, 4):                            # simple pattern program
    print("6" * i)

6
66
666